dist
node_modules
.next
build
scripts
package-lock.json
yarn.lock
bun.lock
pnpm-lock.yaml
.husky
coverage
.prettierignore
.stylelintignore
.eslintignore
stories
storybook-static
*.log
playwright-report
.nyc_output
test-results
junit.xml
docs
./vscode
.github
